<nav class="navbar">
  <div> 
    <h1 style="margin-bottom: 0;">Bhashaboli</h1>
    <p style="margin-bottom: 0;">
      Bhashaon se 
      <span style="color: #FF671F;">Bh</span><span>ar</span><span style="color:  #0ac530;">at</span>
    </p>
  </div>
  <select class="language-selector" (ngModelChange)="onLanguageChange($event)"  [(ngModel)]="lang">
    <option value="english">English</option>
    <option value="hindi">Hindi</option>
    <option value="malyalam">Malyalam</option>
    <option value="kannada">Kannada</option>
    <option value="tamil">Tamil</option>
    <option value="urdu">Urdu</option>
    <option value="punjabi">Punjabi</option>
    <option value="marathi">Marathi</option>
    <option value="telgu">Telgu</option>
    <option value="maithali">Maithali</option>
    <option value="bhojpuri">Bhojpuri</option>
  </select>
</nav>

<div class="container" style="margin-top: 5rem;">
  <div class="row">
    <div class="col-lg-4">
      <div class="row " *ngFor="let post of newsData ;let i = index">
        <div>
          <div *ngIf="i%3==0" class="card" (click)="openModal(post)">
            <div class="img-container">
              <img src="{{ post.image_url}}" alt="">
            </div>
            <section class="card-text-container">
              <h3>{{ post.heading }}</h3>
              <p class="truncate">{{ post.description }}</p>
            </section>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-lg-4">
      <div class="row " *ngFor="let post of newsData ;let i = index">
        <div>
          <div *ngIf="i%3==1" class="card" (click)="openModal(post)">
            <div class="img-container">
              <img src="{{ post.image_url}}" alt="">
            </div>
            <section class="card-text-container">
              <h3>{{ post.heading }}</h3>
              <p class="truncate">{{ post.description }}</p>
            </section>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-lg-4">
      <div class="row " *ngFor="let post of newsData ;let i = index">
        <div>
          <div *ngIf="i%3==2" class="card" (click)="openModal(post)">
            <div class="img-container">
              <img src="{{ post.image_url}}" alt="">
            </div>
            <section class="card-text-container">
              <h3>{{ post.heading }}</h3>
              <p class="truncate">{{ post.description }}</p>
            </section>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
